body {
	
}

img#brand {
    padding-top: 100px;
}

ul.dropdown-menu {
    background-color: #222222;
}

.navbar-right .open>a, .navbar-right .open>a:hover, .navbar-right .open>a:focus {
    background-color: #000000;
}

.dropdown-menu>li>a {
	color: #ffffff;
}

#login_dropdown li > a:hover {
    background-color: #B1B1B3;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus  {
	color: #ffffff;
}

#page-container {
	min-height: 470px;
}

#masthead {
	background: url(../img/header.jpg) no-repeat top center;
	min-height:315px;
	background-color:#000000;
  	color:#000000;
}

#masthead h1 {
	font-size: 55px;
	line-height: 1;
}

#brand {
	padding-top: 50px;
}

#masthead .well {
	margin-top:13%;
	background-color:#000000;
  	border-color:#000000;
}

.icon-bar {
	background-color:#fff;
}

@media screen and (min-width: 768px) {
	#masthead h1 {
		font-size: 100px;
	}
}

.navbar-bright {
	background-color:#000000;
    color:#ffffff;
}
  
.navbar-bright a, #masthead a, #masthead .lead {
  	color:#ffffff;
}

.navbar-bright li > a:hover {
    background-color:#000033;
}

.affix-top,.affix{
	position: static;
}

@media only screen and (max-width: 1026px) {
    #sidebar {
        display: none;
    }
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
  	border:0 #eee solid;
  	border-right-width:4px;
}

#mainCol h2 {
	padding-top: 55px;
    margin-top: -55px;
}

#sidebar a {
	color: #000000 !important;
}

/*--
    footer Start
--*/
#footer {
  padding: 70px 0px;
}

/*--
    footer-bottom Start
--*/
#footer-bottom {
  background: #E9E9E9;
  padding: 20px 0px;
}
#footer-bottom p {
  text-align: center;
  padding-top: 12px;
  color: #454545;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}
#footer-bottom p a {
  color: #FF4F02;
}